.mainTwo {
    display: flex;
    //background-color: lightblue;
    margin: 30px 50px;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 50px;

    .buyBook {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex: 1;

        .titlebuy {
            @media (max-width: 1300px) {
                font-size: 20px;
                margin-top: 30px;
            }
            margin-top: 70px;
            font-size: 25px;
            text-align: center;
            color: rgba(255, 255, 255, 0.827);
            font-family: "Playfair Display", serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;
        }

        .mainSet {
            @media (max-width: 1250px) {
                margin-top: 15px;
            }
            margin-top: 25px;
            color: rgba(255, 255, 255, 0.826);
        }

        .getYours {
            @media (max-width: 1250px) {
                margin-top: 20px;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(158, 129, 255, 0.841);
            padding: 15px;
            width: 150px;
            margin-top: 45px;
            color: white;
            margin-left: 40px;
            border-radius: 10px;

            .giBuy {
                margin-right: 12px;
            }

            &:hover {
                cursor: pointer;
                border: 1px solid rgba(158, 129, 255, 0.841) ;
                background: transparent;
                color: rgba(158, 129, 255, 0.841);
            }

            &:active {
                color: white;
                opacity: 0.8;
            }
        }
    }

    .buyVideo {
        @media (max-width: 1000px) {
            display: none;
        }
        
        .videosss {
            height: 450px;
            border-radius: 15px;
            margin: 0 20px;
            opacity: 0.65;
        }
    }
}