body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.homeright {
    @media (max-width: 1200px) {
        display: none;
    }
    position: fixed;
    height: 100vh;
    width: 240px;
    color: white;
    background-color: rgb(21, 21, 21);

    .nameBtn {
        height: 80px;
        width: 240px;
        margin: 15px 0;font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: rgba(255, 255, 255, 0.79);
        background: transparent;
        border: none;
        font-size: 32px;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }

        &:active {
            opacity: 0.5;
        }
    }

    .homeSection {
        display: flex;
        flex-direction: column;
        margin-top: 420px;

        .logs {
            display: flex;
            justify-content: center;
            border: none;
            color: rgba(255, 255, 255, 0.668);
            background: transparent;
            height: 50px;
            margin: 10px 0;
            font-family: "Playfair Display", serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;

            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }

            &:active {
                opacity: 05;
            }
        }
    }
}

.homeleft {
    @media (max-width: 1200px) {
        margin-left: 0;
    }
    background-color: rgb(22, 22, 22);
    height: 100vh;
    width: 1300px;
    margin-left: 230px;

    .mainName {
        @media (max-width: 500px) {
            font-size: 50px;
        }
        color: white;
        margin-left: 65px;
        margin-top: 45px;
        margin-bottom: 0;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 70px;

        .innerMain {
            font-family: "Playfair Display", serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            color: rgba(255, 255, 255, 0.825);
            text-decoration: line-through;
        }
    }

    .maintext {
        @media (max-width: 500px) {
            font-size: 15px;
        }
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        color: #7e7e7e;
        margin-top: 0;
        margin-left: 72px;
        margin-right: 30px;
    }
}