.fooot {
    @media (max-width: 700px) {
        margin-top: 800px;
    }
    @media (max-width: 600px) {
        margin-top: 900px;
    }
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    color: rgba(255, 255, 255, 0.8);
    //background-color: lightblue;
    z-index: 10000;
    margin-top: 720px;
    padding-left: 120px;
    border: 0.5px solid rgba(255, 255, 255, 0.773);

    .coryrights {

        &:hover {
            opacity: 0.5;
            cursor: pointer;
        }

        &:active {
            opacity: 0.8;
        }
    }
}